<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.skyfly33.spring.dao.UserDao">

    <select id="findAllUsers" resultType="com.skyfly33.spring.domain.User">
        SELECT * FROM cubeone_user
    </select>

    <select id="findUserByEmail" resultType="com.skyfly33.spring.domain.User" parameterType="java.lang.String">
        SELECT * FROM cubeone_user
        WHERE email = #{email}
    </select>

    <select id="isValidUser" resultType="java.lang.Boolean" parameterType="com.skyfly33.spring.domain.User">
        SELECT * FROM cubeone_user
        WHERE email = #{email}
        AND password = #{password}
    </select>

    <insert id="signUpUser" parameterType="com.skyfly33.spring.domain.User">
        INSERT INTO cubeone_user (email, password, phone)
        VALUES (#{email}, #{password}, #{phone})
    </insert>

</mapper>